<html>
<head>
    <title>{% block page_title %}Zombiepress{% endblock %}</title>
</head>
<body>
    <h1>Zombiepress</h1>
    {% block menu %}
    <h2>Menu</h2>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/blog">Blog</a></li>
            <li><a href="/projects">Projects</a></li>
            {% for language in languages %}
            <li>{{ "{0}"|f(language) }}</li>
            {% endfor %}
        </ul>
    </nav>
    {% endblock %}
    {% block content %}{% endblock %}
</body>
</html>
